In [90]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv('dirty_cafe.csv')
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [92]:
df.describe().T

                  count unique             top  freq
Transaction ID    10000  10000     TXN_1961373     1
Item               9667     10           Juice  1171
Quantity           9862      7               5  2013
Price Per Unit     9821      8             3.0  2429
Total Spent        9827     19             6.0   979
Payment Method     7421      5  Digital Wallet  2291
Location           6735      4        Takeaway  3022
Transaction Date   9841    367         UNKNOWN   159

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [94]:
df.duplicated().sum()

np.int64(0)

In [95]:
df.replace( {'UNKNOWN': np.nan , 'ERROR': np.nan }, inplace=True)

In [96]:
df['Price Per Unit'] = pd.to_numeric( df['Price Per Unit'] ,errors=  'coerce')
df['Quantity'] =pd.to_numeric(df['Quantity'], errors= 'coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')
df['Transaction Date'] = pd.to_datetime( df['Transaction Date'], errors='coerce')

In [97]:
df.dtypes

Transaction ID              object
Item                        object
Quantity                   float64
Price Per Unit             float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [98]:
df.isna().sum()

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

In [99]:
df.dropna(inplace=True)

In [100]:
df.reset_index(drop=True, inplace=True)

In [101]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
3,TXN_2548360,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-11-07
4,TXN_7619095,Sandwich,2.0,4.0,8.0,Cash,In-store,2023-05-03
...,...,...,...,...,...,...,...,...
3084,TXN_9668108,Cake,1.0,3.0,3.0,Cash,In-store,2023-01-20
3085,TXN_9933628,Smoothie,5.0,4.0,20.0,Cash,In-store,2023-07-20
3086,TXN_2858441,Sandwich,2.0,4.0,8.0,Credit Card,In-store,2023-12-14
3087,TXN_3897619,Sandwich,3.0,4.0,12.0,Cash,Takeaway,2023-02-24
3088,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07