### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

pd.__version__

'2.2.3'

### <a name='1'></a> Ćwiczenie 101
Z podanej poniżej listy:


```
stocks = ['PLW', 'CDR', '11B', 'TEN']
```
Utwórz obiekt typu Series.

__Oczekiwany wynik:__


```
0    PLW
1    CDR
2    11B
3    TEN
dtype: object
```

In [3]:
pd.Series(data = ['PLW', 'CDR', '11B', 'TEN'])

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### <a name='2'></a> Ćwiczenie 102
Z podanego poniżej słownika:


```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
```
Utwórz obiekt typu Series i przypisz do zmiennej _quotations_.

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
```

In [4]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data = stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### <a name='3'></a> Ćwiczenie 103
Przekształć obiekt _quotations_ do listy.

__Oczekiwany wynik:__


```
[387.0, 339.5, 349.5, 391.0]
```

In [6]:
quotations.tolist()

[387.0, 339.5, 349.5, 391.0]

Przekształć obiekt _quotations_ do tablicy _numpy_.

In [7]:
quotations.values

array([387. , 339.5, 349.5, 391. ])

### <a name='4'></a> Ćwiczenie 104
Przekształć obiekt _quotations_ do obiektu _DataFrame_. Ustaw nazwę kolumny na _price_.

In [8]:
pd.DataFrame(quotations, columns = ['price'])

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

### <a name='5'></a> Ćwiczenie 105
Wykorzystując bibliotekę _numpy_ zbuduj poniższy obiekt typu _Series_:


```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In [13]:
pd.Series(data=np.arange(10,100,10), index = np.arange(101,110), dtype = 'float')

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

### <a name='6'></a> Ćwiczenie 106
Podany jest poniższy obiekt typu _Series_:

```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```
Skonwertuj typ obiektu _series_ na _int_.

In [14]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
pd.to_numeric(series)

a    1
b    2
c    3
d    4
dtype: int64

Skonwertuj typ obiektu _series_ na _float_.

In [16]:
series.astype(float)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

### <a name='7'></a> Ćwiczenie 107
Do poniższego obiektu _quotations_:

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```
Dodaj dwa elementy:
* indeks: BBT, wartość: 25.5
* indeks: F51, wartość: 19.2

__Oczekiwany wynik:__


```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64
```

In [29]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
new_data = pd.Series({'BBT': 25.5, 'F51': 19.2})
quotations = pd.concat([quotations, new_data])
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

|### <a name='8'></a> Ćwiczenie 108
Obiekt _quotations_ z poprzedniego ćwiczenia przekształć do obiektu typu _DataFrame_. Zresetuj indeks i nadaj nazwy kolumn '_ticker_' oraz _'price'_.

In [30]:
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
quotations.head()

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5

### <a name='9'></a> Ćwiczenie 109
Zbuduj poniższy obiekt _DataFrame_ i przypisz do zmiennej _companies_:

|    | company   |   price | ticker   |
|---:|:----------|--------:|:---------|
|  0 | Amazon    |  2375   | AMZN.US  |
|  1 | Microsoft |   178.6 | MSFT.US  |
|  2 | Facebook  |   179.2 | FB.US    |

In [33]:
data_dic = {
    'company' : ['Amazon', 'Microsoft', 'Facebook'],
    'price' : [2375,178.6,179.2],
    'ticker' : ['AMZN.US', 'MSFT.US', 'FB.US']
}
companies = pd.DataFrame(data_dic)
companies

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

### <a name='10'></a> Ćwiczenie 110
Przekształć pierwszą kolumnę obiektu _companies_ w indeks.

In [42]:
companies.set_index('company', inplace=True)

Wytnij wiersz dla spółki _Facebook_ z obiektu _companies_.

In [44]:
companies.loc['Facebook']

price     179.2
ticker    FB.US
Name: Facebook, dtype: object

Wytnij cenę dla spółki _Microsoft_

In [46]:
companies.loc['Microsoft','price']

np.float64(178.6)